// Primary colors 

$bright-blue: #3a7bfd;



// Light theme colors

    $primary-light-gray: #fafafa;
    $primary-light-gray-blue: #e4e5f1;
    $primary-light-grayish-blue: #d2d3db;
    $primary-dark-grayish-blue: #9394a5;
    $primary-very-dark-grayish-blue: #484b6a;



// Dark theme colors

$dark-bg: #24283B;

    $secondary-dark-blue: #161722;
    $secondary-dark-desaturated-blue: #25273c;
    $secondary-grayish-blue: #cacde8;
    $secondary-grayish-blue-hover: #e4e5f1;
    $secondary-dark-grayish-blue: #777a92;
    $secondary-dark-grayish-blue:#4d5066;


